body {
    background-color: black;
}

.informacion {
    background-color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    gap: 15px;
}

.informacion h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    color: rgb(245, 245, 0);
    background-color: rgb(192, 4, 209);
    padding: 15px;
    border-radius: 8px;
}

.informacion p {
    font-size: 30px;
    color: aliceblue;
}



.informacion a {
    background-color: rgb(14, 150, 1);
    color: rgb(201, 255, 51);
    border-radius: 8px;
    padding: 10 50px;

}

.informacion a:hover {
    background-color: rgb(1, 95, 1);
    color: rgb(235, 220, 13);
}


.codigo {
    width: 500px;
    position: relative;
    top: 15px;
    margin: 10 410px;
    
}

@media  (max-width: 700px) {
    body {
       align-items: center;
       justify-content: center;
    }
    
    
    
    .codigo {
        position: relative;
        top: 10%;

        right: 50%;
        
        
        
    }
}